@media (max-width: 1170px) {
    .footer {
        padding: 24px 16px;
    }
}

@media (max-width: 900px) {
    .cloudfarm {
        padding-top: 0;

        &_top {
            display: none;
        }

        &_bottom {
            left: 8px;
        }

        &_header {
            border-radius: 0;
            padding: 13px 16px 13px 12px;

            &--nav {
                display: none;
            }

            &--btn {
                display: none;
            }

            &--menu {
                display: block;
            }
        }

        &_content {
            padding: 0 15px;

            &--title {
                font-size: 40px;
                line-height: 124%;
            }

            &--text {
                font-size: 20px;
                line-height: 150%;
                margin-bottom: 40px;
            }

            &--container {
                &--img {
                    width: 150px;
                }
            }
        }
    }

    .audience {
        padding-top: 32px;

        &_box {
            flex-direction: column;
            align-items: center;

            &--container {
                &--title {
                    font-size: 32px;
                    line-height: 120%;
                    margin-bottom: 16px;
                }

                &--text {
                    font-size: 18px;
                    line-height: 160%;
                    margin-bottom: 16px;
                }

                &--btn {
                    display: none;
                }
            }

            &--content {
                height: 100%;
                overflow: auto;
                margin-top: 8px;

                &--cards {
                    animation: none;

                    &--card {
                        gap: 12px;

                        &--text {
                            font-size: 16px;
                        }
                    }
                }

                .fade-bottom {
                    display: none;
                }
            }

            &--btn {
                display: block;
                border-radius: 50px;
                border: none;
                padding: 16px 32px;
                background-color: #01522D;
                font-family: Roboto;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
                color: #fff;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-bottom: 32px;
                margin-top: 24px;
            }
        }
    }

    .info {
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin: 48px auto;

        &_box {
            max-width: 370px;
            width: calc(50% - 12px);
        }
    }

    .promotion {
        margin-bottom: 20px;

        &_title {
            font-size: 32px;
            line-height: 120%;
        }

        &_container {
            grid-template-columns: 1fr;
            gap: 20px;

            &--card {
                padding: 16px;
                max-width: 100%;

                &--top {
                    flex-direction: column;
                    align-items: start;
                }
            }
        }
    }

    .baner {
        &_content {
            padding: 32px 16px;
            flex-direction: column;
            margin-bottom: 40px;

            &--container {
                display: flex;
                align-items: center;
                flex-direction: column;

                &--title {
                    font-size: 32px;
                    line-height: 120%;
                }

                &--list {
                    margin-top: 24px;
                    margin-bottom: 12px;

                    li {
                        font-size: 18px;
                        line-height: 160%;
                        flex-direction: column;
                        text-align: center;
                    }
                }

                &--btn {
                    margin-left: 0;
                }
            }

            &--img {
                display: none;
            }
        }
    }

    .contact {
        padding: 0;
        margin-bottom: 40px;

        &_container {
            flex-direction: column;
            gap: 63px;
            padding: 32px 16px;
            border-radius: 0px;
            background-image: url("../img/contact-adaptive-bg.png");
            align-items: center;

            &--title {
                font-size: 26px;
                text-align: center;
                margin-top: 0;
                width: 100%;
                max-width: 469px;
            }

            &--form {
                padding: 24px 16px;

                &--title {
                    font-size: 26px;
                }
            }

            &--cloud {
                display: none;
            }
        }
    }
}

@media (max-width: 560px) {
    .info {
        flex-direction: column;
        align-items: center;
        gap: 18px;

        &_box {
            width: 100%;
            max-width: 370px;
            flex-direction: column;
            align-items: center;

            &--text {
                text-align: center;
                font-size: 18px;
            }
        }
    }

    .footer {
        padding: 20px 12px 49px;

        &_img {
            width: 188px;
        }

        &_text {
            font-size: 14px;
        }
    }
}